{% extends "home/base.html" %}

{% load static %}

{% block my_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
{% endblock my_css %}

{% block content %}

<div class="container py-4">


    <div class="row mb-5 text-center">
    <div class="col-12 text-start">
        <h3>Actions and Stats:</h3>
    </div>
        <div class="col-3">
            <button type="button" class="btn btn-success" type="button" id="ingest">Load Data into DB</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-danger" id="reset">Reset Database</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-info" id="update" data-bs-toggle="modal" data-bs-target="#exampleModal">Update Record by SKU</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" id="view">View Stats</button>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12">
            <h3>
                Time taken for various queries and process:
            </h3>
        </div>
        <div class="dt">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Process Name</th>
                        <th>Status</th>
                        <th>Time Started</th>
                        <th>Time Finished</th>
                        <th>Total Time Taken</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in dbs %}
                        <tr>
                            <td>{{d.name}}</td>
                            <td>{{d.status}}</td>
                            <td>{{d.time_started}}</td>
                            <td>{{d.last_updated}}</td>
                            <td>{{d.time_taken}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12">
            <h3>
                Products
            </h3>
            <div class="pages">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                        <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                    {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in page_obj %}
                        <tr>
                            <td>{{product.name}}</td>
                            <td>{{product.sku}}</td>
                            <td>{{product.description}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Some quick stats about the DB</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul>
        <li>Total Product Count : {{count}}</li>
        <li>Total Aggregate Table Count : {{aggregate_table_count}}</li>
    </ul>
    
    {% if aggregate_list %}        
        <h5 class="my-3">
            Users with most products (Top 15):
        </h5>
        <ul class="list-group">
            {% for user in aggregate_list %}
                <li class="list-group-item">{{user.name}} - {{user.count}} </li>
            {% endfor %}
        </ul>
    {% endif %}
        
    <hr>
    <h6 class="mt-5">By <a target="_blank" href="mailto:ishantdahiya@gmail.com">Ishant Dahiya</a> for Postman Data Engineer Position
    <br><br>
        <a target="_blank" href="https://github.com/ishantd/">
            <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/github.svg" />
        </a>
    </h6>
  </div>
</div>

<!-- Edit Product Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Search by SKU</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div id="liveAlertPlaceholder"></div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="product_sku" id="sku-search" placeholder="SKU">
            <button class="btn btn-primary" type="button" id="sku-search-button">Search</button>
        </div>
        <form action="{% url 'data:products' %}" method="post">
            <div class="mb-3">
                <label for="product_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Name">
            </div>
            <div class="mb-3">
                <label for="product_description" class="form-label">Description</label> <br/>
                <textarea type="text" class="form-control"  id="product_description" placeholder="Description" name="product_description"></textarea>
            </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-product">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block my_js %}
<script src="{% static 'home/js/index.js' %}"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
{% endblock my_js %}